

.open-sans {
    font-family: "Open Sans", sans-serif;

}




*{
    font-family: Raleway;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f5f7ff;
}


.head-section{
    background-image: url(Assets/Hero-bg.png); 
    height: 750px;
    width: 100%;
    margin-bottom: 170px;
}


.nav-bar{
    margin: 0 auto;
    padding-top: 50px;
    width: 80.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: #4e47ff;
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
}
.btn{
    background: #4e47ff;
    color: #ffffff;
    font-weight: 500;
    border: none;
    width: 132px;
    height: 43px;
    border-radius: 10px;
}
.banner{
    display: flex;
    margin: 19px 0 0 0;
    align-items: center;
    text-align: center;
    height: 600px;
}
.banner-content{
    text-align: center;
    align-items: center;
    justify-items: center;
    width: 905px;
    margin: auto auto;
}
.banner-content p{
    font-size: 65px;
    font-weight: bold;
   
}
.banner-btn{
    margin-top: 50px;
    width: 174px;
    height: 48px;
    background-color: #4e47ff;
    color: #ffffff;
    border: none;
    border-radius: 10px;
}




.about-container{
    margin: 0 auto 270px;
    width: 80.5%;
    display: flex;
    justify-content: space-around;
}
.about-title{
    width: 550px;
    height: 203px;
}

.about-title h2{
    margin: 0 0 20px 60px;
    font-size: 42px;
    font-weight: bold;
    line-height: auto;
}
.about-title p{
    font-family: Raleway;
    margin: 0 0 20px 60px;
    color: #252432;
    font-size: 24px;
    width: 517px;
    height: 60px;
}
.about-title button{
    width: 229px;
    height: 48px;
    background: #4e47ff;
    color: #ffffff;
    font-weight: bold;
    border: none;
    margin: 0 0 20px 60px;
    border-radius: 10px;
    font-size: 16px;
}

.about-title img{
    border-radius: 48px;
    width: 403px;
    height: 328px;

}



.about-ours{
    margin: 0 auto;
    width: 80.5%;
    height: 356px;
    text-align: center;
    border-radius: 24px;
    background-color: #e5e7ff;
    font-family: Inter;
    margin-bottom: 100px;
}
.about-ours h2{
    padding-top: 32px;
    font-weight: bold;
    font-size: 38px;
}
.our-user{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 120px;
}
.users-rate{
    margin: 0px 0 300px 0;
    font-family: Inter;
    color: #4e47ff;
    font-size: 40px;
    font-weight: bold;
}
.users-rate p{
    color: #252432;
    font-size: 20px;
}




.user-section{
    margin: 0 auto 100px auto;
    width: 80.5%;
    height: 356px;
    text-align: center;
    border-radius: 24px;
    font-family: Inter;
}
.user-section h2{
    font-weight: bold;
    font-size: 42px;
}
.user-content{
    display: flex;
    padding-top: 50px;
    justify-content: center;
}
.user-say{
    gap: 24px;
    padding: 24px;
    border-radius: 14px;
    background: #fafcff;
    width: 27%;
    height: 243px;
    margin: 20px;
    text-align: left;
}

.info-tag h4, p{
    margin: 10px 0 10px 0;
}
.user-details{
    display: flex;
}
.user-details img{
    width: 60px;
    margin: 20px 0;
    border-radius: 50%;
}
.user-info{
    margin: 20px 0 0 20px;
}




.hero-session{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 80.5%;
    height: 800px;
    padding: 12px;
    margin-bottom: 100px;
}
.hero-container{
    align-items: center;
    text-align: center;
    border-radius: 14px;
    background-color: #ffffff;
    width: 100%;
    padding: 100px;
}

.hero-container h2{
    width: 516px;
    height: 60px;
    margin: 0 auto;
    font-size: 50px;
    font-weight: bold;
}
.hero-container p{
    margin: 27px;
    color: #252432;
}

.hero-btn{
    font-size: 18px;
    font-weight: 500;
    width: 195px;
    height: 48px;
    border-radius: 10px;
    margin: 20px;
    background: #4e47ff;
    border: none;
    color: #ffffff;
}
.hero-img{
    width: 840px;
    height: 364px;
    margin: 0 auto;
}
.hero-img img{
    border-radius: 48px;

}




.contact-form{
    display: flex;
    margin: 200px auto;
    justify-content: space-around;
    width: 80.5%;
    height: 300px;
    border-radius: 24px;
    font-family: Inter;
}
.message h1{
    width: 528px;
    height: 232px;
    font-weight: bold;
    font-size: 90px;
    text-align: left;
}

.form-input label {
  display: block;
  margin-bottom: 12px;
}


form input[type="text"], form input[type="email"], form textarea{
    width: 497px;
    border: none;
    border-radius: 10px;
    background: #ffffff;
    padding: 10px 20px;
    margin-bottom: 24px;
    height: 70px;
    display: block;
}


.submit{
    width: 497px;
    height: 62px;
    border-radius: 10px;
    background: #4e47ff;
    color: #ffffff;
    border: none;
    gap: 10px;

}


.footer{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
    background: #ffffff;
}
.footer h1{
    margin: 0 auto;
    color: #4e47ff;
    font-weight: bold;
    text-align: center;
    width: 291px;
    height: 121px;
    font-size: 100px;
}
.footer p{
    margin: 0 auto;
    color: #252432;
    text-align: center;
    width: 531px;
    height: 47px;
    padding: 13px;
    line-height: 1.6;
    font-weight: 500;
}

.footer-links{
    display: flex;
    list-style: none;
    width: 401px;
    margin: 20px auto;
    height: 24px;
    padding: 20px;
    justify-content: center;
}
.footer-links a{
    margin: 10px;
    width: 100px;
    height: 78px;
    text-decoration: none;
    color: #252432;
    
}



.btn-hover:hover{
    cursor: pointer;
    background: #f1c311;
    font-size: 19px;
    font-weight: 800;
    color: #252432;
    transition: 0.3s ease;
}


.user-say:hover{
    
    width: 30%;
    height: 279px;
    transition: 0.3s ease;
    
}

.footer-links a:hover{
    font-size: 20px;
    text-decoration: underline;
    color: #150f64;
    transition: 0.3s ease;
    
}


.footer .copy-right{
    margin-top: 50px;
    margin-bottom: -90px;
    font-size: 21px;
    font-weight: bolder;
}